<% content_for :actions do %>
  <%= link_to 'Создать блок', new_admin_block_path %>  
<% end %>
<div id="subnav">
	<%= yield :actions %>
</div>
<div class="container">
<% @blocks.each do |block| %>
  <li><%= block.content %> <%= link_to 'Редактировать', edit_admin_block_path(block) %> <%= link_to 'Удалить', admin_block_path(block), :method => :delete %>
	<% block.assets.each do |a| %>
	<%= a.data_file_name %>
	<% end %>
	</li>
<% end %>
</div>