body { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; margin: 0; }
/*p { color: #333; font-size: 16px; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 22px; }*/
/*index*/
a:link.in { color: #fff; text-decoration: none; }
a:visited.in { color: #fff; text-decoration: none; }
a:hover.in { color: #fff; text-decoration: none; }
a:active.in { color: #fff; text-decoration: none; }
p.news { font-size: 14px; font-family: "Times New Roman", Times, Georgia, serif; }
/*navigation*/
a:link.nav {
	color: #717171;
	font-size: 11px;
	font-family: arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 17px;
	text-decoration: none;
	letter-spacing: normal;
	font-variant: normal;
}
a:visited.nav {
	color: #717171;
	font-weight: normal;
}
a:hover.nav { color: #fff; font-weight: normal; background-color: #e51f1f; letter-spacing: normal; }
.nav {
	color: #000;
	font-size: 11px;
	font-family: arial;
	font-weight: normal;
	line-height: 17px;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: normal;
}
/*portfolio*/
p.portfolio { color: #333; font-size: 12px; font-family: arial, Verdana, Arial, Helvetica, sans-serif; line-height: 18px; }
/*h1 { color: #666; font-size: 17px; font-family: arial, Verdana, sans-serif, Helvetica, sans-serif; font-weight: normal; margin-right: 0; margin-bottom: 15px; margin-left: 0; }*/

p.podpis { color: #333; font-size: 13px; font-family: "times new roman", Verdana, Arial, Helvetica, sans-serif; font-style: italic; line-height: 16px; }
/*about*/
h1.company { font-size: 18px; font-family: arial, Verdana, Arial, Helvetica, sans-serif; font-weight: normal; line-height: 21px; margin: 0 0 0; }
.quest { color: #666; font-size: 13px; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 21px; }
.why { color: #000; font-size: 16px; font-family: arial, Verdana, Helvetica, sans-serif; line-height: 24px; }
h1.history { color: #000; font-size: 16px; margin: 0 0 0.67em; }
p.history { color: #000; font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 21px; }
p.history2 { color: #4d4d4d; font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 21px; }
a:link.why { height: 26px;  border-bottom: 1px dashed #fff; color: #fff; background: #000; font-size: 16px; font-family: arial, Verdana, Helvetica, sans-serif; text-decoration: none; outline-color: #fff; }
a:visited.why { color: #fff; }

a:active.why { color: #fff; }
p.white { color: #fefefe; font-size: 12px; font-family: arial, Verdana, Arial, Helvetica, sans-serif; line-height: 18px; }
.values { color: #fff; font-size: 18px; font-family: arial, Verdana, Helvetica, sans-serif; line-height: 25px; }
h1.values { color: #fff; font-size: 20px; font-family: arial, Verdana, Helvetica, sans-serif; font-weight: normal; font-style: normal; margin-bottom: 5px; }
a.form:link { color: #069; text-decoration: none; border-bottom: 1px dashed #069; }
a.form:visited { color: #069; text-decoration: none; border-bottom: 1px dashed #069; }
a.form:hover { color: #fb0303; text-decoration: none; border-bottom: 1px dashed #fb0303; }
a.form:active { color: #069; text-decoration: none; border-bottom: 1px dashed #069; }
h1.map { color: #333; font-size: 19px; font-family: arial, Verdana, Helvetica, sans-serif; font-weight: lighter; font-style: normal; margin: 0 0 17px; }
h2.map { color: #2f2f2f; font-size: 14px; font-family: arial, Verdana, Helvetica, sans-serif; font-weight: normal; font-style: normal; margin: 0 0 12px; }
/*copyright*/
a:link.copyright { color: #4f4f4f; font-size: 9px; font-family: Verdana, Arial, Helvetica, sans-serif; }
a:visited.copyright { color: #4f4f4f; font-size: 9px; font-family: Verdana, Arial, Helvetica, sans-serif; }
a:hover.copyright { color: #4f4f4f; font-size: 9px; font-family: Verdana, Arial, Helvetica, sans-serif; }
a:active.copyright { color: #4f4f4f; font-size: 9px; font-family: Verdana, Arial, Helvetica, sans-serif; }
/*ident*/
p.i { color: #333; font-size: 16px; font-family:  Georgia, "Times New Roman", Times, serif; font-style: italic; line-height: 21px; }
p.l { color: #333; font-size: 15px; font-family: Verdana, Arial, Helvetica, sans-serif; font-style: normal; }
p.sol { color: #363636; font-size: 18px; font-family: arial, Verdana, Helvetica, sans-serif; line-height: 25px; }
/*articles*/
p.artsmall { color: #333; font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; font-style: normal; line-height: 14px; }
h1.art { color: #000; font-size: 17px; font-family: arial, Verdana, sans-serif, Helvetica, sans-serif; font-weight: normal; line-height: 17px; margin-top: 15px; margin-left: 0; padding-top: 15px; }
p.first { color: #4b4b4b; font-size: 19px; font-family: arial, Verdana, Arial, Helvetica, sans-serif; line-height: 1.5em; }

#layer2 {
height:344px;
left:30px;
position:absolute;
top:175px;
visibility:visible;
width:190px;
}
#head {
height:49px;
left:255px;
position:absolute;
top:175px;
visibility:visible;
width:286px;
z-index:10;
}

#copyright {
color:#4F4F4F;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:9px;
height:50px;
left:30px;
position:absolute;
top:764px;
visibility:visible;
width:930px;
}
#text1 {
	width: 450px;
}
#stolb {
height:433px;
left:611px;
position:absolute;
top:5px;
visibility:visible;
width:357px;
z-index:11;
display:block;
}
#layer1 {
height:71px;
left:190px;
position:absolute;
top:115px;
visibility:hidden;
width:160px;
z-index:20;
}
#layer3 {
height:71px;
left:190px;
position:absolute;
top:118px;
visibility:visible;
width:160px;
}
