
body {margin-top: 28px;}
#logo { }
#logo button { background: url('/images/logomotiv.gif') no-repeat; cursor: pointer; width: 143px; height: 83px; border: 0;}
a { cursor: pointer; font-family:Verdana;}
ul.nav {
	list-style: none;
}
#content span.style1 {
color:#000000;
font-family:arial,Verdana,Helvetica,sans-serif;
font-size:16px;
line-height:24px;
}

#content span.style2 {
color:#333333;
font-family:Georgia,"Times New Roman",Times,serif;
font-size:16px;
font-style: italic;
line-height:21px;
}

#content span.style3 { color:#000000;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:12px;
line-height:21px;
}

#content span.style4 {color:#000000;
font-family:arial,Verdana,Helvetica,sans-serif;
font-size:16px;
line-height:24px;
}

#content span.style5 {color:#666666;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:13px;
line-height:21px;
}




font, p { font-family:Verdana; font-size: 0.8em;}
/** header **/
.left-col { min-width: 143px;}
ul.nav {

	float: left;
	min-width: 190px;
}

body > table {overflow:hidden;}

#top-navi {
	min-width: 450px;
}

.nav a {
	color: #000000;
	font-family: Verdana,Helvetica,sans-serif;
	font-size: 11px;
	line-height: 14px;
	text-decoration: none;
}

.nav a:hover {
	font-weight: bold;
	color: white;
	background: red;
	padding: 0px 5px 0px 5px;
	margin-left: -5px;
}



.nav b {
	font-weight: bold;
}

a.green_cloud {
	background: url('/images/green_cloud.gif');
	width: 75px;
	height: 32px;
	display: block;
	text-align: center;
	padding-top: 5px;
	font-family: Georgia;
}

a.green_cloud span {
	color: #fff;
	text-decoration: underline;
	font-style: italic;
}

a.green_cloud span:hover {
	color: #ededed;
}

a.map {
	color: #000;
	text-decoration: underline;
	font-size: 0.8em;
	padding-bottom: 23px;
	display: block;
}

p.phone {
	font-family: Arial;
	font-size: 1.5em;
	color: #454545;
	padding-bottom: 6px;
}
p.phone span.phone_code {
	color: #969696;
}

.quest {
color:#666666;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:13px;
line-height:21px;
}
.why {
color:#000000;
font-family:arial,Verdana,Helvetica,sans-serif;
font-size:1em;
line-height:24px;
}
p.title {
	
}
#right_col {
	color: #515151;
}
.people_group {
	margin-top: 15px;
}
.container {
	height: 100%;
}
#footer {
vertical-align: bottom;
color:#4F4F4F;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:0.6em;
height:100%;
margin-left:30px;
}







#towork {
	height: 23px;
	width: 137px;
	left: 249px;
	top: 633px;
	position: absolute;
	z-index: 10;
	visibility: visible;
}

#layer4 {
	height: 18px;
	width: 35px;
	left: 101px;
	top: 2px;
	position: absolute;
	z-index: 10;
	visibility: visible;
}
#apDiv1 {
	position:absolute;
	left:260px;
	top:637px;
	width:112px;
	height:15px;
	z-index:11;
	visibility: visible;
}
#text {
	font-size: 20px;
	font-style: normal;
	line-height: 1.5em;
	width: 640px;
	left: 250px;
	top: 402px;
	position: absolute;
	visibility: visible;
}
#layer1 {
	height: 100px;
	width: 100px;
	left: 33px;
	top: 955px;
	position: absolute;
	visibility: visible;
}
#news {
	width: 538px;
	left: 242px;
	top: 687px;
	position: absolute;
	z-index: 10;
	visibility: visible;
}
#layer2 { width: 640px; left: 250px; top: 140px; position: absolute; }
/*.style1 {color: #FF0000}*/

.cal_2010{
	width: 636px;
	height: 273px;
	position: absolute;
	left: 249px;
	top: 130px
}

#layer2 { height: 344px; width: 190px; left: 30px; top: 175px; position: absolute; }
#head { height: 49px; width: 286px; left: 255px; top: 175px; position: absolute; z-index: 10; }


#stolb {
	height: 433px;
	width: 357px;
	left: 630px;
	top: 179px;
    overflow: hidden;
	z-index: 11;
}
#layer1 { height: 71px; width: 160px; left: 190px; top: 115px;  z-index: 20; }
#stolb #layer3 { position: relative; top: -290px; left: 189px; overflow: hidden;}


#nav { height: 100px; width: 614px; left: 250px; top: 26px; position: absolute; }
#layer2 { height: 344px; width: 190px; left: 30px; top: 175px; position: absolute; }

#ivan { height: 141px; width: 555px; left: 400px; top: 175px; z-index: 10; position: absolute; }
#photo1 { height: 120px; width: 120px; left: 250px; top: 180px; z-index: 10; position: absolute; }
#anna { height: 120px; width: 120px; left: 250px; top: 390px; position: absolute; }
/* #layer3 { height: 123px; width: 555px; left: 400px; top: 390px; position: absolute;} */
#photo3 { height: 120px; width: 120px; left: 250px; top: 600px; position: absolute; z-index: 10; }
#layer4 { height: 213px; width: 555px; left: 400px; top: 595px; position: absolute; z-index: 10; }

#layer2 { height: 344px; width: 190px; left: 30px; top: 175px; position: absolute; }

#black { background-color: #000; height: 440px; width: 200%; margin-left: -430px;   position: relative; z-index: 12; left: 0px; padding-left: 250px;}
#black > div { position: relative;}


#button { height: 21px; width: 135px; left: 15px; top: 1px; position: absolute; z-index: 1; }
#shema { height: 319px; width: 536px; left: 180px; top: 60px; position: absolute; z-index: 1; }
#textwhite1 { height: 73px; width: 330px; left: 440px; top: 30px; position: absolute; z-index: 2; }
#textwhite2 { height: 40px; width: 330px; left: 440px; top: 332px; position: absolute; z-index: 2; }
#values { height: 220px; width: 296px; left: 764px; top: 133px; position: absolute; z-index: 3; }


#layer2 { height: auto; width: 190px; left: 30px; top: 175px; position: absolute; }
#head { height: 0; width: 286px; left: 255px; top: 175px; position: absolute; z-index: 10; }

/*vak*/
#uslov { height: 100px; width: 150px; left: 840px; top: 242px; position: absolute; z-index: 10; visibility: hidden; }
#layer1 { height: 100px; width: 150px; left: 840px; top: 242px; position: absolute; z-index: 10; }
#content h1 { color: #f00000; font-size: 3em;}

.left-col ul.nav {
	min-width: 130px !important;
}


div.scrollable-3 {
	overflow: hidden;
	position: relative;
	width: 100%;
}
div.scrollable { 
 
    /* required settings */ 
    position:relative; 
    overflow:hidden; 
    width: 90px; 
    height:90px; 
}
div.scrollable-3 {
	height: 370px !important;
}

div.scrollable-3 div.slide {
	width: auto;
}

div.scrollable-3 div.slide img {
	height: auto !important;
	width: auto !important;
}
div.scrollable-3 div.slide-caption, div.scrollable-3 p {
	background: #eeeeee;
	margin-top: -5px;
	width: 100%;
	text-align: center;
	font-family: Verdana;
	font-size: 12px;
	line-height: 16px;
	padding-top: 5px;
	height: 26px;
}
div.scrollable-3 div.items div {
	width: 579px;
}

div.scrollable a.nextPage {
	background: url('/images/right.gif');
	float: right;
}
div.scrollable a.prevPage {
	float: left;
	background: url('/images/left.gif');
}
div.scrollable div.controls {
	clear: both;
	position: absolute;
	bottom: 0px;
	width: 50px;
	left: 50%;
	margin-top: 20px;
	margin-left: -25px;
}

div.scrollable a.browse {

	width: 15px;
	height: 12px;
	left: 50%;
	bottom: 0%;
} 
/* 
    root element for scrollable items. Must be absolutely positioned 
    and it should have a extremely large width to accomodate scrollable items. 
    it's enough that you set width and height for the root element and 
    not for this element. 
*/ 
div.scrollable div.items, div.scrollable-3 div.items { 
    /* this cannot be too large */ 
    width:20000em; 
    position:absolute;
} 
 
/* 
    a single item. must be floated in horizontal scrolling. 
    typically, this element is the one that *you* will style 
    the most. 
*/ 
div.scrollable div.items div, div.scrollable-3 div.items div { 
    float:left; 
} 
 
/* you may want to setup some decorations to active the item */ 
div.items div.active { 

    background-color:#fff; 
}
.disabled { display: none !important;}

#content > table { margin-bottom: 15px; margin-top: 25px; border: 0px;}

#content em {
	font-family: "times new roman",Verdana,Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-style: italic;
	line-height: 16px;
}

#table, #td { vertical-align: top;}

#content p, #content td {
	font-family: arial,Verdana,Arial,Helvetica,sans-serif;
	font-size: 12px;
	line-height: 18px;
}

#right_col {
	font-family: Verdana,Helvetica,sans-serif;
	font-size: 11px;
	line-height: 15px;

}

#right_col p {
	
}

#content h1 {
	font-family: "Trebuchet MS",Helvetica,sans-serif;
	font-size: 30px;
	line-height: 32px;
}

.clients a {
	color: #000000;
	font-family: Verdana,Helvetica,sans-serif;
	font-size: 11px;
	line-height: 14px;
	text-decoration: none;
}

.clients a:hover {
	font-weight: bold;
	color: white;
	background: red;
	padding: 0px 5px 0px 5px;
	margin-left: -5px;
}



.clients a.current {
	font-weight: bold;
}

div.sort-type {
	position: relative; width: 235px; left: 19%; background: #f1eadf; padding: 5px; padding-top: 4px;
}

.project-nav {
	text-align: center;
	width: 80px;
	padding: 2px;
	padding-top: 0px;
	background: #f1eadf;
	font-size:12px;
	float: left;
	margin-bottom: 20px;
}
.project-nav p {
	font-family: Verdana,Helvetica,sans-serif;
	font-size:12px;
}
.project-nav.active a {
	text-decoration: none;
}
.project-nav.active {
	background: #fff;
}
div.sort-type a, div.sort-type b {
	font-family: Verdana,Helvetica,sans-serif;
	font-weight: normal;
	font-size: 12px;
	text-decoration: none;
	line-height: 14px;
	color: #f0000e;
	margin-right: 10px;
	margin-left: 22px;
}

div.sort-type a {
	text-decoration: underline;
	color: black;
}

div.sort-type a:hover {
	color: #f0000e;
}

#sidebar {
	clear: both;
}

.left-col > a {
	font-size: 11px;
	margin-top: 15px;
	display: block;
}
.toggle-button {
	background: black;
	width: 200px;
	text-align: center;
	vertical-align: top;
	padding: 3px;
}
.toggle-button a {

}
.project_with_hover {
	width: 157px;
}
.project_image:hover {
	background: black;
	opacity: 0.25;
}
.project-overlay {
	position: relative;
	background: black;
	width: 157px;
	height: 153px;
	cursor: pointer;
	float: left;
}

.project_text { display: none; z-index: 100; margin-top: -157px;}
.project_image { z-index: 0;}
.project_text, .project_image {


}
.project_text p {
	padding-top: 50px;
	font-style: italic;
	color: white;
	padding: 10px 15px;
}

.red_bgr_arrow {
	background: url('/images/red_bgr_arrow.gif') no-repeat;
	width: 137px;
	height: 23px;
	padding-bottom: 5px;
	vertical-align: top	;
	position: relative;
}

.red_bgr_arrow a {
	padding-left: 8px;
	position: absolute;
	margin-top: -1px;
	height: 10px;
	text-align: center;
	color: #fff;
	font-size: 11px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
ul.clients {
	list-style: none;
}

div.scrollable-3 a.prev {
	float: left;
	position: relative;
	background: url('/images/strela_left.png');
	display: block;
	width: 42px;
	height: 31px;
	top: 319px;
	z-index: 200;
}
div.scrollable-3 a.next {
	float: right;
	position: relative;
	background: url('/images/strela_right.png');
	top: 319px;
	width: 42px;
	height: 31px;
	z-index: 200;
}
div.scrollable-3 a.prev:hover {
	opacity: 0.90;
	background: white url('/images/strela_left.png');
}
div.scrollable-3 a.next:hover{
	opacity: 0.90;
	background: white url('/images/strela_right.png');
}

ul.border-left {
	border-left: 1px solid #ededed;
	padding-left: 20px;
	margin-left: -20px;
	height: 90px;
}

#map-shadow {
	background: url('/images/map_shadow.png') top repeat-x;
	position: relative;
	width: 100%;
	z-index: 100;
	height: 24px;
	opacity: 0.5;
}
#map {
	z-index: -1;
	position: relative;
}
#map img {
	position: absolute;
	top: 0px;
	height: 100%;
}