<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="csrf-token" content="<%= form_authenticity_token %>" />
	<meta name="csrf-param" content="authenticity_token" />
	
	<title>Дизайн-студия Logomotiv</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/logomotiv.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/my.css" media="screen" />
	
	<% if @page.meta_description %><meta name="description" content="<%=@page.meta_description%>" /><% end %>
	<% if @page.meta_keywords %><meta name="keywords" content="<%=@page.meta_keywords%>" /><% end %>
	
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" %>
	<script src="http://cdn.jquerytools.org/1.1.2/jquery.tools.min.js"></script>
	<script type="text/javascript">
	$(function() {
	$('.scrollable').scrollable({size: 1});
	});
	</script>
</head>
<body>

<table width="100%" class="container">
		<tbody>
			<tr valign="top">
				<td width="3%"></td>
				<td width="16%" id="logo">
					<% if @page.permalink == 'main' %>
					<img src="/images/logomotiv.gif" alt="Дизайн студия Логомотив" />
					<% else %>
					<a href="/"><img src="/images/logomotiv.gif" alt="Дизайн студия Логомотив" /></a>
					<% end %>
				</td>
				<td width="3%"></td>
				<td width="61%">
					<ul class="nav">
						<% Page.roots.all.each do |p| %>

						<li><% if @page.path.include? p.permalink %><b><%= p.title %></b><% else %><a class="nav" href="<%= p.path unless p.children.first %><%= p.children.first.path if p.children.first %>"><%= p.title %></a><% end %></li>
						<% end %>
					</ul>
					<% if params[:controller] == 'portfolio' %>
					<ul class="nav">
						<li><% if params[:section] == "sites" %><b>Сайты</b><% else %><a class="nav" href="/portfolio/sites/">Сайты</a><% end %></li>
						<li><% if params[:section] == "ident" %><b>Айдентика</b><% else %><a class="nav" href="/portfolio/ident/">Айдентика</a><% end %></li>
						<li><% if params[:section] == "graphical_design" %><b>Графический дизайн</b><% else %><a class="nav" href="/portfolio/graphical_design/">Графический дизайн</a><% end %></li>
						<li><% if params[:section] == "concepts" %><b>Концепты</b><% else %><a class="nav" href="/portfolio/concepts/">Концепты</a><% end %></li>
					</ul>
					<% end %>

				<td width="16%">
					<p class="phone"><nobr><span class="phone_code">(812)</span> <span>572-39-03</span></nobr></p>
					<a class="map">Карта проезда</a>
					<a class="green_cloud" href="http://b.logomotiv.ru"><span>Блог</span></a>
				</td>
				<td width="1%">
			</tr>
			<tr height="30"></tr>
		</tbody>
</table>
