<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="csrf-token" content="<%= form_authenticity_token %>" />
	<meta name="csrf-param" content="authenticity_token" />
	
	<title>Дизайн-студия Logomotiv</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/logomotiv.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/my.css" media="screen" />
	
	<% if @page.meta_description %><meta name="description" content="<%=@page.meta_description%>" /><% end %>
	<% if @page.meta_keywords %><meta name="keywords" content="<%=@page.meta_keywords%>" /><% end %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" %>
	<%= javascript_include_tag "jquery.tools.min" %>
	<script type="text/javascript">
	$(function() {
	$('.scrollable-3').scrollable({keyboard: true, size: 3}).circular();
	$('.scrollable').scrollable({size: 1});
	});
	function open_map() { $('#map').slideToggle(); }
	</script>
</head>
<body>

<table width="100%" class="container">
		<tbody>
			<tr valign="top">
				<td width="20"><img src="/images/spacer.gif" width="20" /></td>
				<td width="18%" id="logo" align="left">
					<% if @page.permalink == 'main' %>
					<button style="cursor: none;" title="" id="logo"/>
					<% else %>
					<button onclick="window.top.location.href='/'; return false;" title="" id="logo"/>
					<% end %>
				</td>
				<td width="3%"><img width="10" src="/images/spacer.gif" /></td>
				<td width="61%" id="menu">
					<div id="top-navi">
					<ul class="nav">
						<% Page.visible.roots.all.each do |p| %>

						<li><% if @page.path.include? p.permalink %><b class="nav"><%= p.title %> <%= current_arrow %></b><% else %><a class="nav" href="<%= p.path unless p.children.first %><%= p.children.first.path if p.children.first %>"><%= p.title %></a><% end %></li>
						<% end %>
					</ul>
					<% if params[:controller] == 'portfolio' %>
					<ul class="nav">
						<li><% if params[:section] == "ident" %><b class="nav">Айдентика <%= current_arrow %></b><% else %><a class="nav" href="/portfolio/ident/">Айдентика</a><% end %></li>
						<li><% if params[:section] == "sites" %><b class="nav">Сайты <%= current_arrow %></b><% else %><a class="nav" href="/portfolio/sites/">Сайты</a><% end %></li>
						<li><% if params[:section] == "graphical_design" %><b class="nav">Графический дизайн <%= current_arrow %></b><% else %><a class="nav" href="/portfolio/graphical_design/">Графический дизайн</a><% end %></li>
						<li><% if params[:section] == "concepts" %><b class="nav">Концепты <%= current_arrow %></b><% else %><a class="nav" href="/portfolio/concepts/">Концепты</a><% end %></li>
					</ul>
					<% end %>
					</div>
					<td style="min-height: 10px;" width="1%"></td>
				<td width="16%">
					<p class="phone"><nobr><span class="phone_code">(812)</span> <span>572-39-03</span></nobr></p>
					<a class="map">Карта проезда</a>
					<a class="green_cloud" href="http://b.logomotiv.ru"><span>Блог</span></a>
				</td>
				<td width="1%">
			</tr>
			<tr height="30"></tr>
		</tbody>
</table>
