<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="csrf-token" content="<%= form_authenticity_token %>" />
	<meta name="csrf-param" content="authenticity_token" />
	
	<title>Дизайн-студия Logomotiv</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/login.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/logomotiv.css" media="screen" />
	<!--[if lte IE 6]>
	<link rel="stylesheet" href="/stylesheets/ie6_fix.css" type="text/css" media="screen" />
	<![endif]-->

	<% if @page.meta_description %><meta name="description" content="<%=@page.meta_description%>" /><% end %>
	<% if @page.meta_keywords %><meta name="keywords" content="<%=@page.meta_keywords%>" /><% end %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" %>
	<%= javascript_include_tag "jquery.tools.min" %>
	<script type="text/javascript">
	$(function() {
//	$('.gallery_large').scrollable({keyboard: true}).circular();
	$('.scrollable').scrollable({size: 1});
	});
	function open_map() { $('#map').slideToggle(); }
	</script>
	<%= yield :head %>
</head>
<body>

	<div class="head">
		<div class="main_left_col">
			<% if @page.permalink == 'main' %>
			<img class="logo" src="/images/logomotiv.gif" alt="Logomotiv" />
			<% else %>
			<a href="/"><img class="logo" src="/images/logomotiv.gif" alt="Logomotiv" /></a>
			<% end %>
		</div>
		<div class="main_right_col">
			<p class="phone"><span class="color_gray_light">(812)</span> 572-39-03</p>
			<a href="/contacts/">Контактная информация</a>
			<a class="blog" href="http://blog.logomotiv.ru/">Блог</a>
		</div>
		<div class="main_mid_col">
			<ul class="main_menu">
				<% Page.visible.roots.all.each do |p| %>

				<li><% if @page.path.include? p.permalink %><p><%= p.title %></p><% else %><a href="<%= p.path unless p.children.first %><%= p.children.first.path if p.children.first %>"><%= p.title %></a><% end %></li>
				<% end %>
				
				<% if params[:controller] == 'portfolio' %>
			</ul>
				<div class="v_split_line"></div>
				<ul class="main_menu sub">
					<li><% if params[:section] == "ident" %><p>Айдентика</p><% else %><a class="nav" href="/portfolio/ident/">Айдентика</a><% end %></li>
					<li><% if params[:section] == "sites" %><p>Сайты</p><% else %><a class="nav" href="/portfolio/sites/">Сайты</a><% end %></li>
					<li><% if params[:section] == "graphical_design" %><p>Графический дизайн</p><% else %><a class="nav" href="/portfolio/graphical_design/">Графический дизайн</a><% end %></li>
					<li><% if params[:section] == "concepts" %><p>Интерактив</p><% else %><a class="nav" href="/portfolio/concepts/">Интерактив</a><% end %></li>
				</ul>
				<% end %>
			
		</div>
		<div class="clear"></div>
	</div>


