<div id="subnav">
	<%= link_to 'Новый проект', new_admin_project_path %>
</div>
<div class="container">
<% @projects.each do |project| %>
  <li><%= project.title %> <%= link_to 'Редактировать', edit_admin_project_path(project) %> <%= link_to 'Удалить', admin_project_path(project), :method => :delete %>
<% end %>
</div>