<%= params[:show] == 'overs' ? @project.overs : @project.body %>

<% content_for :sidebar do %>


<%= content_tag('div', link_to("За кадром", "?show=overs"), :class => 'project-nav') if @project.overs.size > 10 && params[:show] != 'overs' %>
<%= content_tag('div', link_to("За кадром", "?show=overview"), :class => 'project-nav') if params[:show] == 'overs' %>

<br clear="all" />

<div id="sidebar">
<%= @project.sidebar if @project.sidebar %>
</div>
<% end %>