
<%= render :partial => "shared/header" %>


<table width="100%" style="margin: 0">
	<tbody>
			<tr valign="top">
				<td width="100%">
					<%= yield %>
				</td>
			</tr>
		</tbody>
</table>
<br clear="all" />
<%= render :partial => "shared/footer" %>

</body>
</html>
